.gridBooks {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
  margin: 3rem;
}

.disabled {
  padding: 0.8rem 0.6rem;
  width: 9rem;
}
