@import '../Variables.scss';

header {
  width: 100%;
  background-color: $color-beige;
}

.header__links {
  align-items: center;
  display: flex;
  height: 80px;
  gap: 2rem;
  margin: 0 1rem;
}

.push {
  margin-right: auto;
}
