@import '../Variables.scss';

.form {
  padding: 4rem;
  padding-bottom: 6rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: $color-grey;

  select {
    font-family: $font-main;
  }

  option {
    font-family: $font-main;
  }

  h2 {
    margin-bottom: 2rem;
  }
}

.form__column {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.form__title {
  font-size: $font-size-max;
}

.error {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: $color-error;
}

/* Media Queries */
@media (min-width: $breakpoint-tablet) {
  .nombres {
    display: flex;
    gap: $gap;
  }
}
