.password {
  position: relative;
}

.eye-toggle {
  position: absolute;
  top: 14px;
  right: 26px;
  display: block;
}

.info-icon__container {
  margin-left: auto;
}

.icon {
  display: block;
  margin-left: auto;
  margin-bottom: 0.3rem;
}
