@import './Variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $font-size-min;
}

body {
  font-family: $font-main;
}

.container {
  display: grid;
  justify-content: center;
  max-width: 1200px;
  min-width: 100%;
}

a {
  cursor: pointer;
}

/* Media Queries */
@media (min-width: $breakpoint-tablet) {
  footer {
    font-size: $font-size-medium;
  }
}

@media (min-width: $breakpoint-laptop) {
}
