$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$color-blue: #03314b;
$color-grey: #282828;
$color-accent: #2ce080;
$font-main: 'Sora', sans-serif;
$font-size-min: 14px;
$font-size-max: 16px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $font-size-min;
}

body {
  font-family: $font-main;
}

.container {
  display: grid;
  max-width: 1200px;
  min-width: 100%;
}

a {
  cursor: pointer;
}

footer {
  display: grid;
  gap: 2rem 3rem;
  grid-template-columns: 1fr;
  line-height: 1.7;
  max-width: 1200px;
  padding: 1.5rem;

  .title {
    color: $color-blue;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  a {
    color: $color-grey;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
  }

  a:hover,
  span:hover {
    text-decoration: underline;
  }

  div:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
    }
    span {
      display: none;
    }
  }

  div:nth-child(6) {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

ul {
  display: grid;
  gap: 1rem;
  list-style: none;
}

/* Media Queries */
@media (min-width: $breakpoint-tablet) {
  footer {
    grid-template-columns: repeat(4, 1fr);

    div:first-child {
      grid-column: 1/-1;
      span {
        display: inline-block;
        font-size: 0.8rem;
        padding-left: 10px;
      }
    }

    ul {
      grid-template-columns: repeat(1, 1fr);
    }

    div:nth-child(6) {
      grid-column: 1/-1;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  * {
    font-size: $font-size-max;
  }
  footer {
    gap: 3rem 2.3rem;
    grid-template-columns: repeat(5, 1fr);

    div:first-child {
      align-items: flex-start;
      flex-direction: column;
      grid-column: 1/2;
      justify-content: flex-start;
      ul {
        flex-direction: column;
      }
    }
  }

  .container {
    justify-content: center;
  }
}
