$color-blue: #03314b;
$color-grey: #6d787e;
$color-accent: #2ce080;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
}

a {
  cursor: pointer;
}

h6 {
  color: $color-blue;
  font-size: 1rem;
  margin: 0;
}

div {
  display: grid;
  gap: 1rem;
  margin: 0;
}

footer {
  display: grid;
  font-size: 0.875rem;
  gap: 3rem 4rem;
  grid-template-columns: repeat(1, 1fr);
  letter-spacing: 0.1em;
  max-width: 500px;
  line-height: 1.7;
}

footer div {
  width: 100%;
}

.media {
  display: none;
}

ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

footer a {
  color: $color-grey;
  display: block;
  font-weight: 300;
  transition: all 200ms ease-out;
}

footer div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h6 {
  position: relative;
}

footer h6::before {
  content: '';
  position: absolute;
  width: 3rem;
  height: 5px;
  bottom: -10px;
  background-color: $color-accent;
}

.list-icon {
  display: flex;
}

a:hover {
  transform: translateX(10px);
}

.container {
  display: grid;
  max-width: 1200px;
  padding: 2rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer div:first-child {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }

  .list-icon {
    flex-direction: column;
  }

  .media {
    display: inline-block;
    margin-left: 1rem;
  }
}
