$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$color-blue: #03314b;
$color-grey-dark: #282828;
$color-grey: #585757;
$color-grey-light: #e9e9e9;
$color-accent: #2ce080;
$color-accent-second: #0084ff;
$color-error: red;
$font-main: 'Sora', sans-serif;
$font-size-min: 13px;
$font-size-medium: 14px;
$font-size-max: 18px;
$border-radius: 0.25rem;
$gap: 2rem;
