$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$color-blue: #03314b;
$color-grey: #282828;
$color-accent: #2ce080;
$font-main: 'Sora', sans-serif;
$font-size-min: 14px;
$font-size-medium: 15px;
$font-size-max: 16px;
